version: "3.9"

services:
  api:
    build: .
    container_name: wheelock_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - minio
    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgis/postgis:15-3.4
    container_name: wheelock_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: wheelock_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Console Web
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  createbuckets:
    image: minio/mc:latest
    container_name: wheelock_minio_setup
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 ${MINIO_ROOT_USER:-minioadmin} ${MINIO_ROOT_PASSWORD:-minioadmin};
      /usr/bin/mc mb myminio/images-public --ignore-existing;
      /usr/bin/mc anonymous set download myminio/images-public;
      exit 0;
      "

volumes:
  postgres_data:
  minio_data:
